body {
   margin: 0;
   font-size: 16px;
   background-color: #F1F1F1;
   font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

section.ui.grid.container {
   padding-top: 40px;
   height: 94.7%;
   margin-bottom: 0;
   padding-bottom: 0;
}

article {
   margin: auto;
}

a {
	color: #00B7FF;
}

footer {
   text-align: center;
   width: 100%;
}

footer div {
   position: relative;
   background-color: #333333;
}
