
<!-- Slash Page -->
<div class="ui grid" ng-show="!authenticated">
<article class="six wide column">
   <h2 class="ui header">
      <div class="sub header">Hello There</div>
      Log in to view and create awesome posts
   </h2>
</article>

<article class="ten wide column">
   <form class="ui form fluid segment piled blue" ng-class="{ error : error_message}" ng-submit="login()">
   <div class="ui error message">
     <div class="header">Form Error</div>
     <p>{{error_message}}</p>
   </div>
    <h3 class="ui dividing header">Log in</h3>
    <p class="text-warning"></p>
    <div class="two fields">
      <div class="required field">
        <label>Username</label>
        <div class="ui icon input">
          <input type="text" focus-me ng-model="user.username" placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="required field">
        <label>Password</label>
        <div class="ui icon input">
          <input type="password" ng-model="user.password" placeholder="Password">
          <i class="lock icon"></i>
        </div>
      </div>
    </div>
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <input type="submit" value="Log in" class="ui button blue" />
    <a href="/#/register" class="ui button ">Register</a>
    <a class="ui facebook button" href="/facebook/callback">
     <i class="facebook icon"></i>
     Facebook
  </a>
   <a class="ui twitter button" href="/twitter">
     <i class="twitter icon"></i>
     Twitter
  </a>
   <a class="ui google plus button" href="/logingoogle">
     <i class="google plus icon"></i>
     Google Plus
  </a>
  </form>
</article>
</div>












<!-- authenticated Page -->
<article class="four wide column" ng-show="authenticated">
  <user-info-box></user-info-box>

   <a class="ui twitter button" href="/connect/twitter/{{current_user.id}}">
     <i class="twitter icon"></i>
     Twitter
  </a>
   <a class="ui google button" href="/facebook/{{current_user.id}}">
     <i class="google icon"></i>
     Google
  </a>
</article>

<article class="eight wide column" ng-controller="postController" ng-show="authenticated">
   <form class="ui form fluid segment stacked blue" ng-Submit="post()">
     <div class="required field">
        <h4>{{current_user.displayName}} says {{current_user.id}}</h4>
     </div>
     <div class="field">
       <div class="ui icon input">
         <input required type="text" placeholder="Whats on your mind?" ng-model="newPost.text" />
         <i class="chat icon"></i>
       </div>
     </div>
     <input class="ui button blue" type="submit" value="Send" id="send" />
     <button class="ui button blue" type="button" ng-click="getAllPosts()">getAllPosts</button>
  </form>

  <h3 class="ui blue header"><i class="ui chat icon"></i>Chat Feed</h3>
    <div class="ui divider"></div>
    <div class="ui feed message" ng-repeat="post in posts | filter:search | orderBy:'created_at':true" ng-class-odd="'floating teal'" ng-class-even="''">
      <div class="event">
        <div class="content">
          <div class="summary">
            <!--<a class="user" ng-click="friendPage(post.created_by)">-->
            <a class="user" href="/#">
             {{post.created_by}}
            </a>
            <div class="date">
             {{(post.created_at) | date:"h:mma 'on' MMM d, y"}}
            </div>
            <br>
            <div ng-if="post.user_id !== current_user.id">
              <a ng-if="checkFollows(post.user_id)" ng-click="followUser(post.user_id)">Follow {{post.created_by}}</a>
              <a ng-if="!checkFollows(post.user_id)" ng-click="unfollowUser(post.user_id)">Unfollow {{post.created_by}}</a>
              <br>
            </div>
            {{post.text}}<br>
          </div>
        </div>
      </div>
    </div>
</article>
