<div class="ui segment stacked blue">
  <h3 class="ui header">
     <img ng-src="{{currAvatar() || 'http://wallpapercave.com/wp/qi6CA4t.png'}}" class="ui image tiny floated left">
     <a href="/#/user/{{currDisplayName()}}">{{currDisplayName()}}</a>
     <div class="sub header floated right">{{currFirstName() + ' ' + currLastName()}}</div>
  </h3>
  <br><br>
  <br>
   <div class="ui mini statistic floated">
     <div class="label">
       Tweets
     </div>
     <div class="value">
       1
     </div>

   </div>
     <div class="ui mini statistic floated">

       <div class="label">
        Following
       </div>
       <div class="value">
        {{currFollowing().length}}
       </div>
     </div>
     <div class="ui mini statistic floated">

       <div class="label">
        Followers
       </div>
       <div class="value">
        {{currFollowers().length}}
       </div>
     </div>
</div>
