<div class="ui segment stacked blue">
  <h3 class="ui header">
     <img ng-src="{{displayAvatar || 'http://wallpapercave.com/wp/qi6CA4t.png'}}" class="ui image tiny floated left">
     <a href="/#/user/{{displayDisplayName}}">{{displayDisplayName}}</a>
  </h3>
  <br><br>
  <br>
   <div class="ui mini statistic floated">
     <div class="label">
       Tweets
     </div>
     <div class="value">
       {{displayUserPosts.length}}
     </div>
   </div>
   <div class="ui mini statistic floated">
     <div class="label">
      Following
     </div>
     <div class="value">
      {{displayFollowing.length}}
     </div>
   </div>
   <div class="ui mini statistic floated">
     <div class="label">
      Followers
     </div>
     <div class="value">
      {{displayFollowers.length}}
     </div>
   </div>
</div>
