<div class="ui segment stacked blue">
  <h3 class="ui header">
     <img ng-src="http://wallpapercave.com/wp/qi6CA4t.png" class="ui image tiny floated left">
     <a href="/#/user/{{username}}">{{current_user.displayName}}</a>
     <div class="sub header floated right">Malik Harrison</div>
  </h3>
  <br><br>
  <br>
   <div class="ui mini statistic floated">
     <div class="label">
       Tweets
     </div>
     <div class="value">
       1
     </div>

   </div>
     <div class="ui mini statistic floated">

       <div class="label">
        Following
       </div>
       <div class="value">
        1
       </div>
     </div>
     <div class="ui mini statistic floated">

       <div class="label">
        Followers
       </div>
       <div class="value">
        1
       </div>
     </div>
</div>